.App {
    width: 100%;
    background-color: #bada55;
}

.next-previous {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gerechten {
    display: flex;
    margin-left: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

